/* 버튼 */
.btn {
  
}


/* layout */
.top-bar {
  background-color: #ddd;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  height: 44px;
}
.wrapper {
  width: 375px;
  height: 736px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #EEECE5;
}
.swiper {
  display: flex;
  transition-property: transform;
}
.accout {
  width: 100%;
}
/* 넘어가는 spend-section영역 그림자를 지우고 싶은데 overflow:hidden이 안됌 */

/* HEADER layout */
header {
  width: 327px;
  height: 43px;
  margin-top: 56px;
  margin-left: 27px;
  float: left;
  position: relative;
}
header a {
  display: inline-block;
  width: 43px;
  height: 43px;
}
header a img {
  width: 100%;
}
header h1 {
  display: inline-block;
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  left: 50%;
  transform: translateX(-65%);
  margin-top: 8px;
}
header .btn-cont {
  display: inline-block;
  float: right;
  height: 24px;
  margin-top: 9px;
  display: flex;
  align-items: center;
}
header .btn-cont .btn-qr {
  margin-right: 18px;
  width: 24px;
  height: 21px;
}
header .btn-cont .btn-qr>img {
  width: 100%;
}
header .btn-cont .btn-search {
  width: 24px;
  height: 24px;
}
header .btn-cont .btn-search>img {
  width: 100%;
}


/* ACCOUNT-SECTION layout */
.account-section {
  width: 327px;
  display: inline-block;
  position: relative;
}
.account-cont {
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  position: absolute;
  width: 279px;
  height: 155px;
  padding: 14px;
  border-radius: 12px;
  left: 50%;
  transform: translateX(-41%);
  top: 33px;
  box-sizing: border-box;
}
.account-cont .accoun-num {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #858585;
  margin-left: 61px;
}
.account-cont .btn-send {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  float: right;
  right: 17px;
}
.account-cont .accoun-money {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 2px;
  position: absolute;
  width: 279px;
  text-align: center;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
}
.account-cont .accoun-money strong {
  font-size: 24px;
  line-height: 35px;
}
.account-cont .progress-cont {
  position: absolute;
  top: 110px;
  left: 32px;
}
.account-cont .progress-cont .bar {
  width: 202px;
  height: 6px;
  border-radius: 3px;
  background-color: #C4C4C4;
}
.account-cont .progress-cont .bar .progress {
  width: 50%;
  height: 6px;
  font-size: 0;
  background-color: #000;
  position: relative;
}
.account-cont .progress-cont .bar .progress::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 4px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: #FF5F00;
}
.account-cont .progress-cont .btn-manage {
  position: absolute;
  height: 14px;
  width: 14px;
  right: -26px;
  bottom: 0;
}
.account-cont .progress-cont .btn-manage img {
  width: 100%;
}
.account-cont .account-desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: absolute;
  width: 279px;
  text-align: center;
  bottom: 6px;
  color: #858585;
  left: 50%;
  transform: translateX(-50%);
}
.account-cont .account-desc span {
  color: #858585;
}

.account-section aside {
  margin-top: 212px;
  padding-left: 43px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.account-section aside {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}


/* SPEND-SECTION layout */
.spend-section {
  width: 375px;
  height: 680px;
  position: relative;
  margin-top: 21px;
  background-color: #F5F5F5;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0 0;
}
.spend-section .dragbar {
  width: 48px;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4px;
  background-color: #cdcdcd;
  cursor: pointer;
}


.spend-section .save-cont {
  position: absolute;
  width: 308px;
  height: 49px;
  left: 30px;
  top: 23px;
  display: flex;
  overflow: hidden;
}
.save-cont .save-contcont {
  display: flex;
}
.save-cont .save-list {
  display: flex;
}
.save-cont .save-list .save-bar {
  width: 162px;
  height: 47px;
  background: #dadada;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.save-cont .save-list .save-bar+.save-bar {
  margin-left: 13px;
}
.save-cont .save-list .save-bar .save-progress {
  height: 47px;
  width: 0%;
  background: #fff;
}
.save-cont .save-list .save-bar .save-name {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
  color: #fff;
  top: 5px;
  left: 13px;
}
.save-cont .save-list .save-bar .save-money {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
  color: #fff;
  top: 22px;
  left: 13px;
}
.save-cont .save-add {
  margin-left: 16px;
  width: 100px;
}
.save-cont .save-add .btn-add {
  height: 24px;
  margin-top: 14px;
  display: flex;
  align-items: center;
}
.save-cont .save-add .btn-add span {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  color: #ff5f00;
}
.save-cont .save-add .btn-add img {
  height: 100%;
  margin-right: 6px;
}

.day-contcont {
  position: absolute;
  width: 302px;
  top: 88px;
  left: 36px;
  overflow: hidden;
}
.day-cont {
  overflow: hidden;
}
.day-cont .day-list {
  display: inline-block;
}

.day-cont .day-list .day {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.day-cont .day-list .total {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  float: right;
  color: #b4b4b4;
}
.day-cont .day-list .spend-cout {
  top: 29px;
}
.day-cont .day-list .spend-cout .spend-list {
  width: 302px;
  padding: 8px 0 7px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
}
.day-cont .day-list .spend-cout:last-child {
  margin-bottom: 38px;
}
.day-cont .day-list .spend-cout .spend-list .spend-title {
  font-size: 18px;
  font-weight: 350;
  color: #444;
  line-height: 26px;
}
.day-cont .day-list .spend-cout .spend-list .spend-cost {
  font-size: 18px;
  font-weight: 300;
  color: #444;
  line-height: 26px;
}
.day-cont .day-list .spend-cout .deposit .spend-cost {
  color: #FF5F00;
}

nav {
  position: fixed;
  top: 736px;
  left: 50%;
  transform: translateX(-50%);
  width: 375px;
  height: 76px;
  background: linear-Gradient(163.63deg, #00BDB2 11.35%, #C4E7B8 139.96%);
  display: flex;
  padding: 0 32px 0 46px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
nav .btn-home {
  width: 23px;
  height: 20px;
}
nav .btn-home img {
  width: 100%;
}
nav .btn-arrow {
  width: 30px;
  height: 23px;
}
nav .btn-arrow img {
  width: 100%;
}
nav .btn-message {
  width: 24px;
  height: 24px;
}
nav .btn-message img {
  width: 100%;
}
nav .btn-more {
  width: 28px;
  height: 28px;
}
nav .btn-more img {
  width: 95%;
}
