/* 버튼 */
.btn {}


/* layout */
body {}

.wrapper {
  width: 375px;
  height: 812px;
  margin: 20px auto;
  background-color: #eee;
}


/* HEADER layout */
header {
  width: 327px;
  height: 43px;
  margin-top: 56px;
}
header a {}
header img {}
header h1 {}
header .btn-cont {}
header .btn-cont .btn-qr {}
header .btn-cont .btn-search {}


/* ACCOUNT-SECTION layout */
.account-section {}
.account-cont {}
.account-cont strong {}
.account-cont .btn-send {}
.account-cont .progress-cont {}
.account-cont .progress-cont .bar {}
.account-cont .progress-cont .bar .progress {}
.account-cont .progress-cont .bar .limit {}
.account-cont span {}

.account-section aside {}


/* SPEND-SECTION layout */
.spend-section {}
.save-cont {}
.save-cont .save-list {}
.save-cont .save-list .save-bar {}
.save-cont .save-list .save-bar .save-progress {}
.save-cont .save-list .save-bar .save-name {}
.save-cont .save-list .save-bar .save-money {}
.save-cont .save-add {}
.save-cont .save-add .btn-add {}
.save-cont .save-add .btn-add span {}

.day-cont {}
.day-cont .day-list {}
.day-cont .day-list .day {}
.day-cont .day-list .total {}
.day-cont .day-list .spend-cont {}
.day-cont .day-list .spend-cont .spend-list {}
.day-cont .day-list .spend-cont .spend-list .spend-title {}
.day-cont .day-list .spend-cont .spend-list .spend-cost {}

nav {}
nav ul {}
nav ul li {}

